body
{
	margin: 0 !important;
	color: var(--default-text-color);
    background-image: url("../images/background.png");
    -webkit-box-shadow:inset 0 0 0 50vw rgba(255, 255, 255, 0.137);
            box-shadow:inset 0 0 0 50vw rgba(255, 255, 255, 0.137);
    background-size: cover;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
	height: 100%;
	width: 100%;
}

* {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#container {
    position: relative;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
}
  
.grid-container {
    padding: 0rem 0.25rem 0rem 0.25rem;
    border-radius: 1.5%;
    background-color: var(--default-background-color);
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-gap: 0.0856rem;
    width: 69rem;
    height: 41rem;
    -ms-grid-columns: 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 1fr;
    grid-template-columns: 5.8rem 5.8rem 5.8rem 5.8rem 5.8rem 5.8rem 1fr;
    -ms-grid-rows: 1fr 0.0856rem 5fr 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem 0.0856rem 5.8rem;
    grid-template-rows: 1fr 5fr 5.8rem 5.8rem 5.8rem 5.8rem 5.8rem;
        grid-template-areas: "main main main main main main history_header" "calculate calculate calculate calculate calculate calculate history" "log sin cos tan forward backspace history" "pi seven eight nine brackets randomize history" "factorial four five six minus divide history" "absolute one two three plus multiplication history" "radical power zero dot equals equals history";
}

.radical { grid-area: radical; }

.absolute { grid-area: absolute; }

.factorial { grid-area: factorial; }

.pi { grid-area: pi; }

.log { grid-area: log; }

.zero { grid-area: zero; }

.one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

.four { grid-area: four; }

.five { grid-area: five; }

.six { grid-area: six; }

.seven { grid-area: seven; }

.eight { grid-area: eight; }

.nine { grid-area: nine; }

.sin { grid-area: sin; }

.cos { grid-area: cos; }

.tan { grid-area: tan; }

.forward { grid-area: forward; }

.backspace { grid-area: backspace; }

.brackets { grid-area: brackets; }

.randomize { grid-area: randomize; }

.minus { grid-area: minus; }

.divide { grid-area: divide; }

.multiplication { grid-area: multiplication; }

.plus { grid-area: plus; }

.dot { grid-area: dot; }

.equals { grid-area: equals; }

.power { grid-area: power; }

.history {
    grid-area: history;
    padding-top: 0.4rem;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0.3125rem;
    margin: 0.4rem 0;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.calculate { 
    grid-area: calculate; 
    text-align: right;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: "operation" "expression";
}

.operation {
    grid-area: operation;
    opacity: 0;
    overflow: hidden;
    font-size: 1rem;
    line-height: 2rem;
    -webkit-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    text-align: right;
    width: 35rem;
    height: 1.875rem;
    overflow-x: auto;
    overflow-y: hidden;
    -o-text-overflow: clip;
       text-overflow: clip;
    white-space: nowrap;
    margin-right: 0.6rem;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.operation * {
    background-color: var(--none-black) !important;
    text-decoration: none !important;
}

.operation:hover * {
    cursor: default !important;
}

.expression {
    color: var(--expression-text-color);
    opacity: 1;
    grid-area: expression;
    background-color: transparent;
    text-align: right;
    font-size: 2.2rem;
    -webkit-transition: all 314ms ease;
    -o-transition: all 314ms ease;
    transition: all 314ms ease;
    line-height: 5rem;
    width: 35rem;
    height: 6.25rem;
    overflow-x: auto;
    overflow-y: hidden;
    -o-text-overflow: clip;
       text-overflow: clip;
    white-space: nowrap;
    margin-right: 0.6rem;
}

.expression * {
        -webkit-transition: all 350ms ease;
        -o-transition: all 350ms ease;
        transition: all 350ms ease;
}

.main { 
    grid-area: main; 
    text-align: left;
    padding-left: 0.6rem;
    line-height: 3rem;
    font-size: 1.4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 4fr 1fr 1fr 1fr;
    grid-template-columns: 5fr 4fr 1fr 1fr 1fr;
}

.undo, .redo, .settings , .history_bin{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 0.5rem;
    border-radius: 0.1em;
}

#undo, #redo, #settings{
    height: 1.5625rem;
    width: 1.5625rem;
}

#bin {
    height: 1.6875rem;
    width: 1.6875rem;
}

.undo:hover, .redo:hover, .settings:hover , .history_bin:hover{
    background-color: var(--options-background-hover);
}

#redo {
     -webkit-transform: scaleX(-1);
         -ms-transform: scaleX(-1);
             transform: scaleX(-1);
}

.settings {
    position: relative;
}

.settings_panel {
    display: none;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 2.8rem;
    right: -0.1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 0.01rem solid var(--settings-panel-border);
}

.setting_option {
    padding-left: 0.4rem;
    border-radius: 0.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--settings-option-background);
    border-bottom: 0.05rem solid var(--settings-option-border);
    width: 13rem;
    height: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.setting_option_title, .setting_option_switch {
    height: 3rem;
}

.round {
    padding-left: 0.625rem;
    width: 5rem;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 5fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
}

.round_value {
    width: 100%;
    text-align: center;
}

.round_button {
    border-radius: 0.3125rem;
    height: 1.25rem;
    line-height: normal;
    margin-top: 0.9375rem;
    -webkit-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.round_button:hover{
    background-color: var(--round_button-background-hover);
}
.history_header { 
    grid-area: history_header;
    padding-left: 0.6rem;
    line-height: 2.9rem;
    font-size: 1.6rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 9fr 1fr;
    grid-template-columns: 9fr 1fr;
}

.main, .history_header {
    border-radius: 0.3rem;
    background-color: var(--main-background);
}

.history_item {
    display: -ms-grid;
    display: grid;
    border-radius: 0.3rem;
    height: 6rem;
    -ms-grid-columns: 93% 7%;
    grid-template-columns: 93% 7%;
    -ms-grid-rows: 60% 40%;
    grid-template-rows: 60% 40%;
        grid-template-areas: "result delete" "operation delete";
    -webkit-transition: all 554ms ease;
    -o-transition: all 554ms ease;
    transition: all 554ms ease;
    left: 0;
    position: relative;
}

.history_item:hover {
    background-color: var(--history-background-hover);
}

.history_item_result {
    font-size: 2rem;
    grid-area: result;
    display: -ms-grid;
    display: grid;
}

.history_item_result_content {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: right;
        justify-self: right;
}

.history_item_operation {
    grid-area: operation;
}

.history_item_result, .history_item_operation {
    text-align: right;
    margin-right: 0.2rem;
    overflow: hidden;
}

.history_item_delete {
    grid-area: delete;
    display: -ms-grid;
    display: grid;
}

.history_item_img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    border-radius: 100%;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.history_item_img:hover {
    background-color: var(--history-delete-hover);
}

